:root {
	/* Typography*/
	--font-header-large: 5rem;
	--font-header-medium: 2.5rem;
	--font-header-small: 1.75rem;
	--font-header-smallest: 1.5rem;
	--font-body: 1rem;
}

@media screen {
	#main {
		grid-template-areas:
			'skills'
			'current-employment'
			'relevant-qualification'
			'previous-employment'
			'volunteering'
			'other-qualifications'
			'other-interests';

		grid-template-columns: 100%;

		margin: 1rem;
	}
}

body {
	margin: 0;
}

body > header,
body > section {
	border: none;
	border-bottom: #5f0f40 solid 3px;
	padding: 1rem;
}

@media screen {
	header > .flex {
		flex-direction: column;
	}
}

.desktop-mb-1 {
	margin-bottom: 0;
}

.mob-order-first {
	order: -1;
}
