:root {
	--font-header-large: 5rem;
	--font-header-medium: 2.5rem;
	--font-header-small: 1.25rem;
	--font-header-smallest: 1rem;
	--font-body: 0.75rem;
}

@page {
	size: A4;
	margin: 0.5cm 1cm;
}

body {
	margin: 1rem;
}

body > * {
	border: none;
}

#main {
	column-gap: 1rem;

	grid-template-areas:
		'current-employment  skills'
		'current-employment relevant-qualification'
		'current-employment volunteering'
		'current-employment other-qualifications'
		'previous-employment other-qualifications'
		'previous-employment other-interests';
}

h1,
h2,
h3 {
	page-break-after: avoid;
	break-after: avoid;
}

a {
	text-decoration: none;
	color: inherit;
}

/* .entry, */
li {
	page-break-inside: avoid;
}

h2 {
	page-break-after: avoid;
}

.flex-grow-1,
.flex-grow-2 {
	flex-grow: 0;
}

.screen {
	display: none;
}
